<!DOCTYPE html>
<html>
    <head>
        <script src={{ url_for("static", filename="try_js.js") }}></script>


        <title>テストhtml</title>
        <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
    </head>
    <body>
        <p>これはテストhtmlです。</p>
        <table id="table_id">

            <tr>
                <th>ヘッダ１</th>
                <th>ヘッダ２</th>
                <th>ヘッダ３</th>
            </tr>
            <tr>
                <td>内容１</td>
                <td>内容２</td>
                <td>内容３</td>
            </tr>
        </table>
        <form method="POST" action="http://127.0.0.1:5000/show_data">
            <input type="text" name="text" value="テキスト"><br>
            <input type="button" name="button" value="ボタン" onclick="change_table();"><br>
            <input type="checkbox" name="check" value="チェックボックス1">チェックボックス1
            <input type="checkbox" name="check" value="チェックボックス2">チェックボックス2<br>
            <input type="radio" name="radio" value="ラジオボタン1">ラジオボタン1
            <input type="radio" name="radio" value="ラジオボタン2">ラジオボタン2<br>
            <select name="select" id="select_id" onchange="change_by_select();">
                <option value="">なし</option>
                <option value="red">赤</option>
                <option value="blue">青</option>
            </select>                            
            <input type="submit" name"="submit" value="送信">
        </form>
    </body>
</html>